body{
    font-size: 62.5%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: linear-gradient(#fff, #e8e8e8);
    font-family: 'Lato', sans-serif;
    color: #FFF;
    display: flex;
    flex-direction: column;
    
}

.header {
    display: flex;
    flex-direction: row;
    position: fixed;
    width: 100%;
    max-width: 100%;
    background-color: #67ca3d;
    height: 70vh;
    z-index: 2;
    margin: 0;
    padding: 0;
    top: -60vh;
}

.header-author-name {
    display: none;
}
.header .name {
    color: #fff;
    width: 480px;
    font-size: 1.5rem;
    font-weight: 500;
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: absolute;
    bottom: 0;
}
.header .main-nav { 
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

}

.main-nav .navigation-menu {
    display: block;
    text-align: center;
    transform: translate(-78%, 5%);
    padding: 0;
}
.main-nav .navigation-menu li{
    list-style: none;
    margin-bottom: 35px;
    border-bottom: 1px solid #fff;
}
.main-nav .navigation-menu li a{
    line-height: 30px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5rem;
}
.name .hamburger {
    position: absolute;
    
    margin-right: 0;
    margin-left: auto;
    border: 0;
    background: 0;
    padding-right: 15px;
    fill: #fff;
    bottom: 8px;
    left: 48%;

    margin-bottom: 6px;
    
}
.main-nav .hamburger .hamburger-icon {
    width: 30px;
    height: 30px;
}

.hamburger .close-icon {
    display: none;
    width: 14px;
}

.site-pictures {
    position: relative;
    width: 100%;
}
.author{
    position: relative;
    background: url("../img/computer-1873831_1280.png") no-repeat;
    background-size: cover;
    
    height: 100vh;
    width: 100%;
    max-width: 100%;

}
.overlay{
    background-color: rgba(88, 29, 29, 0.3);
    width: 100%;
    height: 100vh;
    position:absolute;

}

.author-description {
    position: absolute;
    margin-top: 20px;

    text-transform: uppercase;
    transform: translate(8%, 100%);
    z-index: 1;
    width: 89%;
}

.author-description:hover{
    cursor: pointer;
}


.author-name {
    
    width: 100%;
    font-size: 1.2rem;
    color: #fff;
    z-index: 1;
}
.author-name {
    font-size: 1.7rem;
    font-weight: 700;
    width: 300px;
    font-family: 'Open-sans';
    letter-spacing: 1px;
    margin-bottom: 20px;
    
    animation: text 1.5s 1;
    
}
.author-name::after {
    content: "";
    display: inline-block;
    width: 280px;
    border-bottom: 1px solid #fff;
}

@keyframes text {
    0%{
        margin-bottom: 60px;
    }

}
.author-proffesion {
    color: #67ca3d;
    transform: translateX(27%);
    font-size: 1.2rem;
    z-index: 1;
    width: 80%;

}
.about-me {
    position: relative;
}
.about-me, .skills, .contact {
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    color: rgb(0,0,0);
    font-size: 1rem;
    margin-left: 4px;
    margin-right: 4px;
    box-sizing: border-box;
}

.about-span, .my-skills, .author-contact{
    box-sizing: border-box;
    font-size: 2rem;
    padding-bottom: 20px;
}

.about-span::after, .my-skills::after, .author-contact::after {
    content: "";
    padding-top: 10px;
    margin-left: 2px;
    width: 100px;
    border-bottom: 8px solid #67ca3d;
    display: block;
}

.skills {
    margin: 0;
    width: 100%;
    list-style: none;
}

.skills li {
    padding: 5px;
    width: 80%;
}

.skills .bar {
    background: #354836;
    display: block;
    height: 2px;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 0 10px #21e73bb3;
}
.bar span {
    height: 2px;
    background: #67ca3d;
    float: left;
}

.java {
    width: 80%;
}

.python {
    width: 40%;
}

.sql {
    width: 55%;
}

.xml {
    width: 35%;
}

.intellij {
    width: 70%;
}

.solid {
    width: 60%;
}
.scrum {
    width: 50%;
}

.english{
    width:85%;
}

.footer{
    padding-top: 50px;
    color: rgb(0,0,0);
    margin: auto;
    padding-bottom: 20px;
}
.footer p {
    font-size: 1.5rem;
    text-align: center;
}
.footer .icon-git-squared, .icon-facebook-squared, .icon-linkedin-squared {
    
    font-size: 60px;
    color: #67ca3d;
    
}
.footer .icon-git-squared:hover, .icon-facebook-squared:hover, .icon-linkedin-squared:hover {
    color: #489428;
    cursor: pointer;
}


@media(min-width: 1025px){
    .header{
        display: flex;
        flex-direction: row;
        position: fixed;
        background-color: #67ca3d;
        width: 100%;
        height: 10vh;
        top: 0;
    
    }
    .header-author-name {
        box-sizing: border-box;
        display: inline;
        font-family: "Montserrat", sans-serif;
        width: 600px;
        font-size: 2rem;
        text-shadow: 5px 5px 5px rgba(0,0,0,0.56);
        text-transform: uppercase;
        padding-top: 12px;
        padding-left: 20px;
    }
    .main-nav {
        display: none;
        margin-left: auto;
    }
    .main-nav .navigation-menu li{
        
        border-bottom: 0;
        display: inline-block;
        margin-right: 35px;
        padding: 8px;
        display: none;
    
    }
    .main-nav .navigation-menu li:last-child {
        margin-right: 0;
    }
    .name {
        display: none;
    }
    .author-description {
        font-family: "Montserrat", sans-serif;
        transform: translate(34%,26%);
        width: 800px;
    }
    .author-name {
        font-family: "Montserrat", sans-serif;
        text-shadow: 5px 5px 5px rgba(0,0,0,0.56);
        width: 800px;
        font-size: 5rem;
    }  
    .author-name::after {
        content: "";
        display: inline-block;
        width: 780px;
        border-bottom: 1px solid #fff;
    }
    .author-proffesion {
        font-family: "Montserrat", sans-serif;
        text-shadow: 5px 5px 5px rgba(0,0,0,0.56);
        font-size: 3rem;
    }

    .about-span {
        text-shadow: 2px 2px 2px rgba(0,0,0,0.56);
    }

    .skills {
        text-shadow: 2px 2px 2px rgba(0,0,0,0.56);
    }
    .about-me-column {
        display: flex;
        flex-direction: row;
    }
    .column-paragraphs {
        display: flex;
        flex-direction: column;
    }
    .about-me-column p {
        width: 500px;
    }
    .about-me-column .hackathon-first-image {
        height: 500px;
    }

    .about-me-column .hackathon-second-image {
        height: 500px;
        width: 400px;
        padding-left: 50px;
    }

    .short-info {
        box-sizing: border-box;
        text-align: center;
        width: 100%;
        height: 35vh;
        padding: 0;
        margin-top: 35vh;
        margin-bottom: 5vh;
    }
    .short-info-title {
        font-size: 2.5rem;
        text-transform: uppercase;
        color: #337c08;
        text-shadow: 1px 1px 1px rgba(0,0,0, 0.56);
    }

    .short-info-interior {
        margin-top: 20px;
        text-align: justify;
        line-height: 1.5;
        width: 300px;
        word-wrap: break-word;
        font-size: 1rem;
        font-family: "Lato", sans-serif;
    }
    .short-info-interior p {
        margin: auto;
        width: 70%;
        color: rgb(0,0,0);
        
    }
    .skills{
        margin-top: 20vh;
    }
    .bars {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .bars > li {
        display: flex;
        flex-basis: calc(50% - 30px);
        justify-content: center;
        flex-direction: column;
    }
    .bars > li:nth-child(2n){
        padding-left: 30px;
    }

    .footer {
        margin-top: 25vh;
        background-color:#369110;
        height: 60vh;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .footer > div {
        display: flex; 
        flex-basis: calc(50% - 14px);  
        justify-content: center;
        flex-direction: column;
    }

    .icons {
        display: flex;
        flex-direction: row;

    }
    .contact {
        padding-left: 100px;
    }
    .contact p {
        text-align: left;
    }
}