body{
    font-size: 62.5%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: linear-gradient(#fff, #e8e8e8);
    font-family: 'Lato', sans-serif;
    color: #FFF;
    display: flex;
    flex-direction: column;
    
}

.header {
    display: flex;
    flex-direction: row;
    position: fixed;
    width: 100%;
    max-width: 100%;
    background-color: #67ca3d;
    height: 55px;
    z-index: 2;
    margin: 0;
    padding: 0;
}

.header .name {
    color: #fff;
    width: 500px;
    font-size: 1.5rem;
    font-weight: 500;
    padding-left: 50px;
    padding-top: 10px;
}
.header .main-nav { 
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

}
.main-nav .navigation-menu {
    display: none;
}
.main-nav .navigation-menu li{

    text-decoration: none;
    list-style: none;
}
.main-nav .hamburger {
    margin-right: 0;
    margin-left: auto;
    border: 0;
    background: 0;
    padding-right: 20px;
    fill: #fff;
}
.main-nav .hamburger .hamburger-icon {
    width: 30px;
    height: 30px;
}

.hamburger .close-icon {
    display: none;
    width: 14px;
}

.site-pictures {
    position: relative;
    width: 100%;
}
.author{
    position: relative;
    background: url("../img/computer-1873831_1280.png") no-repeat;
    background-size: cover;
    
    height: 100vh;
    width: 100%;
    max-width: 100%;

}
.overlay{
    background-color: rgba(88, 29, 29, 0.3);
    width: 100%;
    height: 100vh;
    position:absolute;

}
.author img {
    position: absolute;
    right: 30%;
    left: 35%;
    top: 150px;
}

.author-description {
    position: absolute;
    margin-top: 20px;

    text-transform: uppercase;
    transform: translate(8%, 150%);
    z-index: 1;
    width: 89%;
}

.author-description:hover{
    cursor: pointer;
}

.author-photo {
    width: 100px;
    height: 100px;

    border-radius: 50%;
    border: 3px solid #fff;
    z-index: 1;
}
.author-name {
    
    width: 100%;
    font-size: 1.2rem;
    color: #fff;
    z-index: 1;
}
.author-name {
    font-size: 1.7rem;
    font-weight: 700;
    width: 300px;
    font-family: 'Open-sans';
    letter-spacing: 1px;
    margin-bottom: 20px;
    
    animation: text 1.5s 1;
    
}
.author-name::after {
    content: "";
    display: inline-block;
    width: 280px;
    border-bottom: 1px solid #fff;
}

@keyframes text {
    0%{
        margin-bottom: 60px;
    }

}
.author-proffesion {
    color: #67ca3d;
    transform: translateX(27%);
    font-size: 1.2rem;
    z-index: 1;
    width: 80%;

}
.about-me {
    position: relative;
}
.about-me, .skills, .contact {
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    color: rgb(0,0,0);
    font-size: 1rem;
    margin-left: 4px;
    margin-right: 4px;
    box-sizing: border-box;
}

.about-span, .my-skills, .author-contact{
    box-sizing: border-box;
    font-size: 2rem;
    padding-bottom: 20px;
}

.about-span::after, .my-skills::after, .author-contact::after {
    content: "";
    padding-top: 10px;
    margin-left: 2px;
    width: 100px;
    border-bottom: 8px solid #67ca3d;
    display: block;
}

.skills {
    margin: 0;
    width: 100%;
    list-style: none;
}

.skills li {
    padding: 5px;
    width: 80%;
}

.skills .bar {
    background: #354836;
    display: block;
    height: 2px;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 0 10px #21e73bb3;
}
.bar span {
    height: 2px;
    background: #67ca3d;
    float: left;
}

.java {
    width: 80%;
}

.python {
    width: 40%;
}

.sql {
    width: 55%;
}

.xml {
    width: 35%;
}

.intellij {
    width: 70%;
}

.solid {
    width: 60%;
}
.scrum {
    width: 50%;
}

.english{
    width:85%;
}

.footer{
    padding-top: 50px;
    color: rgb(0,0,0);
    margin: auto;
    padding-bottom: 20px;
}
.footer p {
    font-size: 1.5rem;
    text-align: center;
}
.footer .icon-git-squared, .icon-facebook-squared, .icon-linkedin-squared {
    
    font-size: 60px;
    color: #67ca3d;
    
}
.footer .icon-git-squared:hover, .icon-facebook-squared:hover, .icon-linkedin-squared:hover {
    color: #489428;
    cursor: pointer;
}
